:root{
    /*
 --primary: #2f60c3;
 --secondary: #138fc2;
 --third: #75cbe7;
 --white: #ffffff;
 --black: #000000;
 */

 --primary: #7f7f7f;
 --secondary: #9b9b9b;
 --third: #d6d6d6;
 --white: #ffffff;
 --black: #000000;
}
/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 30px 12px;
    }
    .header-area {
        padding-top: 80px;
    }
    .price-table,
    .box {
        padding: 30px 15px;
    }
    .price-table.active {
        padding: 50px 15px;
    }
    .single-team {
        margin-bottom: 30px
    }
    .side-icon-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}


/* Mobile Layout: 320px. */
@media only screen and (min-width: 300px) and (max-width: 767px) {
    .caption-slider .carousel-indicators li {
        font-size: 10px;
        float: left;
        padding-top: 20px;
        padding-right: 0px;
        cursor: pointer;
        position: relative;
        list-style: none;
    }
    .caption-slider h2 {
        font-size: 30px;
    }
    .button {
        display: inline-block;
        padding: 8px 10px;
        border-radius: 50px;
        color: #ffffff;
        background-color: var(--primary);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        border: none;
        -webkit-box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
    }

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .header-area {
        padding-top: 120px;
        padding-bottom: 100px;
        height: auto;
    }
    .page-title h2,
    .header-text h2 {
        font-size: 20px;
    }
    .mainmenu-area .navbar-toggle {
        margin-top: 20px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area #primary-menu {
        background-color: var(--primary);
    }
    .mainmenu-area #primary-menu ul {
        overflow-y: auto;
        max-height: 70vh;
        margin: 0;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 15px;
        overflow: hidden;
    }
    .box {
        padding: 30px 15px;
    }
    .box .box-icon {
        height: auto;
    }
    .single-blog,
    .single-team,
    .price-table.active {
        margin-top: 30px;
    }
    .form-double input {
        width: 100%;
    }
    .footer-top {
        margin-bottom: 50px;
    }
    .x-left {
        text-align: left;
    }
    .mainmenu-area .logo {
        margin-left: 15px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media (max-width: 767px) and (min-width: 320px){
    .video-area {
        height: 250px;
        margin: 10px;
    }
}